version: "3.9"

services:
  db:
    image: postgres:15-alpine
    container_name: newsletter-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: newsletter
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:6.2-alpine
    container_name: newsletter-redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  web:
    build: .
    container_name: newsletter-web
    environment:
      DATABASE_URL: postgresql://postgres:postgres@db:5432/newsletter
      CELERY_BROKER_URL: redis://redis:6379/0
      CELERY_RESULT_BACKEND: redis://redis:6379/1
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload

  celery_worker:
    build: .
    container_name: newsletter-celery-worker
    command: celery -A app.celery_app worker --loglevel=info
    restart: always
    environment:
      DATABASE_URL: postgresql://postgres:postgres@db:5432/newsletter
      CELERY_BROKER_URL: redis://redis:6379/0
      CELERY_RESULT_BACKEND: redis://redis:6379/1
      CELERY_REDBEAT_REDIS_URL: redis://redis:6379/0
      # CELERY_REDBEAT_KEY_PREFIX: redbeat:
      BREVO_API_KEY: ${BREVO_API_KEY:-}
      BREVO_FROM_EMAIL: ${BREVO_FROM_EMAIL:-newsletter@example.com}
      BREVO_FROM_NAME: ${BREVO_FROM_NAME:-Newsletter Service}
    volumes:
      - .:/app
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started

  celery_beat:
    build: .
    container_name: newsletter-celery-beat
    command: celery -A app.celery_app beat --loglevel=info
    restart: always
    environment:
      DATABASE_URL: postgresql://postgres:postgres@db:5432/newsletter
      CELERY_BROKER_URL: redis://redis:6379/0
      CELERY_RESULT_BACKEND: redis://redis:6379/1
      CELERY_REDBEAT_REDIS_URL: redis://redis:6379/0
      # CELERY_REDBEAT_KEY_PREFIX: redbeat:
      BREVO_API_KEY: ${BREVO_API_KEY:-}
      BREVO_FROM_EMAIL: ${BREVO_FROM_EMAIL:-newsletter@example.com}
      BREVO_FROM_NAME: ${BREVO_FROM_NAME:-Newsletter Service}
    volumes:
      - .:/app
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started

volumes:
  postgres_data:
  redis_data:

